<h2>Products</h2>

<table width="100%">
  <tr>
    <th width="5%">Name</th>
    <th width="2%">SKU</th>
    <th width="2%" align="center">Inventory</th>
    <th width="1%" align="center">Aisle</th>
    <th width="1%" align="center">Bin</th>
    
    <th width="5%" colspan="2">Actions</th>
  </tr>
  <% @products.each do |product| %>
    <tr>
      <td><%= link_to h(product.name), resource(product) %></td>
      <td><%=h product.sku %></td>
      <td align="center"><%=h product.inventory %></td>
      <td align="center"><%=h product.aisle %></td>
      <td align="center"><%=h product.bin %></td>
      
      <td><%= link_to "Edit", resource(product, :edit) %></td>
      <td><%= link_to "Sold", resource(product, :sold) %></td>
    </tr>
  <% end %>
</table>
