<h2>New Product</h2>

<%= link_to "Back", resource(:products) %> | <%= link_to "Edit", resource(@product, :edit) %>

<h3>Details</h3>
<p>
  Name: <%=h @product.name %>
</p>
<p>
  SKU: <%=h @product.sku %>
</p>

<h3>Inventory</h3>
<p>
  Current Quantity: <%=h @product.inventory %>
</p>

<h3>Location</h3>
<p>
  Aisle: <%=h @product.aisle %>
</p>
<p>
  Bin: <%=h @product.bin %>
</p>
